.App {
    text-align: center;
    background-color: rgb(187, 19, 19);
  }
  
  .App-logo {
    text-align: left;
    float: left;
  }
  
  .App-header {
    background-color: rgb(5, 90, 43);
    height: 100px;
    padding: 10px;
    color: white;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  .App-title {
    font-size: 1.5em;
    float: right;
  }
  
  .App-intro {
    font-size: large;
  }